body {
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.bl-navbar-default {
  height: 80px;
  background-color: transparent;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
  padding-top: 10px;
}

.navbar-header .background-blue span:nth-child(1n+1){
  background-color: #005FFF;
  width: 15px;
}

.bl-navbar-toggle {
 border: none;
}

.bl-navbar-brand img{
  height: 25px;
  padding: 0;
}

.btn-link .bl-btn-link ul>li>a {
  border: 1px solid #005FFF;
  border-radius: 5px;
  color: #005FFF;
}

.navbar-nav>li>a {
  line-height: 30px;
}

.bl-nav {
  font-size: 12px;
}

/* END NAVBAR */

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .bl-navbar-toggle {
    display: block;
  }

  .bl-navbar-header {
    float: none;
  }

  .bl-nav {
    display: none;
  }

}

@media screen and (min-width: 993px) {
  .bl-navbar-default {
    height: auto;
  }
}

/* END MEDIA QUERIES */
