body {
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.bl-navbar-default {
  /* height: 80px; */
  background-color: transparent;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse {
  float: right;
}


.navbar-header .background-blue span:nth-child(1n+1){
  background-color: #005FFF;
  width: 15px;
}

.bl-navbar-toggle {
 border: none;
}

.bl-navbar-brand img{
  height: 25px;
  padding: 0;
}

.btn-link .bl-btn-link ul>li>a {
  border: 1px solid #005FFF;
  border-radius: 5px;
  color: #005FFF;
}

.navbar-nav>li>a {
  line-height: 30px;
}

.bl-nav {
  font-size: 12px;
  margin-left: 80px;
}

/* END NAVBAR */

/* MAIN CONTAINER */
.background-img {
  background-image: url(../img/sea-bg-live.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2

section {
  color: #fff;
}

section h2 {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

.get-started {
  height: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 0;
}

h3 {
  font-weight: 900;
}

.get-started span {
  color: #005FFF
}


/* END MAIN CONTAINER */













/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .bl-navbar-toggle {
    display: block;
  }

  .bl-navbar-header {
    float: none;
  }

  .bl-nav {
    display: none;
  }

}

@media screen and (min-width: 993px) {
  /* .bl-container {
    width: 100%;
  } */

  .bl-navbar-default {
    height: auto;
  }
}

/* END MEDIA QUERIES */
