body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* NAVBAR */
.bl-navbar-default {
  background-color: transparent;
  padding-top: 20px;
}

.navbar-collapse, .sharky-row, .sharky {
  float: right;
}

.navbar-header .background-blue span:nth-child(1n+1) {
  background-color: #005FFF;
  width: 15px;
}

.bl-navbar-toggle {
  border: none;
}

.bl-navbar-brand img {
  height: 20px;
  padding: 0;
}

.bl-nav li:nth-child(5), .development-teams div h6:nth-child(5) {
  padding-top: 10px;
}

.bl-btn-primary {
  border: 1px solid #005FFF;
  border-radius: 5px;
  color: #005FFF;
  background: #fff;
  padding: 8px;
}

.navbar-nav>li>a {
  line-height: 30px;
}

.bl-nav {
  font-size: 12px;
}

/* END NAVBAR */

/* MAIN CONTAINER */
.pad {
  padding: 40px 0;
}

.background-img {
  background-image: url(../img/sea-bg-live.svg);
  background-repeat: no-repeat;
  background-size: cover;
}


.first-section h1 {
  font-size: 53px;
}

h1, .designed-for-section h6, .arrows:hover {
  color: #031B4E;
}

main h1, .customers-service h1, footer h5 {
  color: #fff;
}

section h2 {
  font-size: 20px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
}

.get-started h3 {
  padding: 0 20px;
  margin: 0;
  line-height: 1.4;
}

.get-started section {
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  background-color: #fff;
}

.get-started h3:nth-child(2), .icons-section h3:nth-child(2) {
  color: #005FFF;
}

/* FORM */
.bl-form-control {
  height: 30px;
  font-size: 12px;
  position: relative;
  box-shadow: 1px 1px 4px 1px #ddd;
}

.bl-form>.form-group:nth-child(3) button{
  background-color: #579AFF;
  color: #fff;
}

.fa-google::before {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 20px;
}

.bl-form h6 {
  font-size: 12px;
}

h6 a {
  text-decoration: underline;
}

/* END FORM */
/* END MAIN CONTAINER */

/* ICONS SECTION */
.icons-section, .designed-for-section {
  background: #F3F5F9;
}

.icons-container {
  padding: 0;
}

.icons-section h3, .deploy-section p, li, .designed-for-section {
  color: #929DB4;
  font-size: 16px;
}

.icons-section h6 {
  color: #4285f4;
}

.icons-section img {
  width: 100px;
  margin: 10px;
}

/* END ICONS SECTION */

/* DEPLOY SECTION */
.deploy-section, .business-section {
  padding-right: 60px;
  padding-left: 60px;
}

.deploy-section li {
  border-left: 1px solid;
  padding-left: 10px;
  line-height: 2.3;
  font-weight: lighter;
}

.deploy-section li a {
  text-decoration: none;
}

.deploy-section li:hover {
  border-left: 3px solid #012FAD;
}

.deploy-section img {
  width: 40px;
}

.list-unstyled li:last-child {
  margin-bottom: 20px;
}

/* END DEPLOY SECTION */

/* DESIGNED FOR SECTION */
.designed-for-section p {
  font-size: 20px;
}

.slider-box {
  position: relative;
  height: 100%;
  padding: 40px 0;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
}

.slider-arrow:hover {
  color: #031C4E;
}

.slider-inner {
  width: 80%;
  margin: 0 auto;
}

.slider-inner img {
  width: 100%;
}

.slider-arrow-left {
  left: 0;
}

.slider-arrow-right {
  right: 0;
}

.disabled {
  opacity: .5;
}

.dots-container ol {
  padding-top: 30px;
  padding-left: 0;
}

.dots-container li:hover {
  background-color: #4285f4;
}

.dots-container .enabled {
  background-color: #4285f4;
}

.dots {
  width: 10px;
  height: 10px;
  border: 1px solid #4285f4;
  border-radius: 50%;
  display: inline-block;
}

/* END DESIGNED FOR SECTION */

/* BUSINESS FEATURE SECTION */
.business-section div {
  padding: 10px;
}

/* END BUSINESS FEATURE SECTION */

/* CUSTOMERS SERVICE SECTION */
.customers-service {
  background-color: #012FAD;
}

.customers-service h1 {
  padding: 10px 10px;
}

.customers-service li {
  display: flex;
  line-height: 40px;
  position: relative;
  border-bottom: 1px solid;
}

.customers-service li:last-of-type {
  border-bottom: none;
}

.customers-service li a {
  position: absolute;
  right: 0;
}

.customers-service span {
  margin-left: 15px;
}

/* END CUSTOMERS SERVICE SECTION */

/* DEVELOPMENT TEAMS SECTION */
.development-teams {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
}

.development-teams h6 {
  line-height: 0.5;
}

.development-teams-container .arrows {
  vertical-align: 60px;
}

.development-teams div img:nth-child(1n+2) {
  width: 15px;
}

.development-teams div img:first-child {
  display: block;
  margin: 0 auto;
}

/* END DEVELOPMENT TEAMS SECTION */

/* FOOTER */
.footer-row {
  padding-top: 50px;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  background-color: #031C4E;
}

footer .bubble>h6 {
  color: #031C4E;
  font-size: 18px;
}

footer .fab {
  margin: 10px 10px 15px 0;
  font-size: 20px;
}

footer ul>li:first-of-type {
  color: #fff;
  font-size: 16px;
}

footer ul>li {
  line-height: 1.8;
}

.bubble {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  max-width: 350px;
  margin-top: 12px;
}

.bubble-popover-right {
  position: absolute;
  top: 25px;
  left: 305px;
  color: #fff;
  font-size: 25px;
}

footer img {
  height: 100%;
}


/* END FOOTER */

/* MEDIA QUERIES */
@media screen and (min-width: 993px) {
  .bl-navbar-default {
    height: auto;
  }

  .container {
    width: 100%;
  }

  footer img {
    height: 80px;
  }

  .bubble-popover-up {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .bl-navbar-toggle {
    display: block;
  }

  .bl-navbar-header {
    float: none;
  }

  .bl-nav {
    display: none;
  }

  .sharky-row, .sharky img, .bubble {
    float: left;
  }

  .bubble {
    margin-bottom: 20px;
    margin-left: 25px;
  }

  .bubble-popover-right {
    display: none;
  }

  .bubble-popover-up {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #fff;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .arrows {
    display: none;
  }

  .sharky-row, .sharky img, .bubble {
    float: left;
  }

  .sharky {
    padding: 0;
  }

  .bubble {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .bubble-popover-right {
    display: none;
  }

  .bubble-popover-up {
    position: absolute;
    bottom: 43px;
    left: 40px;
    color: #fff;
    font-size: 25px;
  }
}





/* END MEDIA QUERIES */
